@import "../../../../styles/variables";

@mixin absolute-text {
  position: absolute;
  top: -30px;
  left: 0;
  font-size: $font-size-regular;
}

.item {
  position: relative;
  font-size: $font-size-lg;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: $color-main-light;
  }

  &:hover {
    cursor: pointer;

    .title {
      clip-path: inset(0 0 0 0);
    }

    .bgImageContainer .bgImage {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 70px;
  position: relative;
}

.bgImageContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.bgImage {
  background-image: url("/assets/img/bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1);
  width: 100%;
  height: 100%;

  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.dayOfTheWeek {
  position: relative;
}

.date {
  @include absolute-text();
  color: $color-main-yellow;
}

.country {
  position: relative;
  width: 40%;
}

.place {
  @include absolute-text();
}
