.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
